<a href="https://colab.research.google.com/github/Keshav978/random_learning/blob/main/Q1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
df =pd.read_excel('Data.xlsx')
df

,NAME,ROLL,SECTION,LOGIC,CONCENTRATION,FOCUS,COGNITIVE SKILL,RETENTION POWER,HARD WORKING,STUDY HABIT,CONSCIOUSNESS,SILLY MISTAKES,KNOWLEDGE GAP,IMPULSIVE,LEARNING GAP
0,Srishti Shahi,28,A,1.611111,2.666667,1.611111,1.000000,1.500000,2.333333,1.611111,1.214286,8.571429,8.000000,8.750000,6.400000
1,DEBMALYA LAHIRI,8,A,1.833333,1.833333,1.833333,0.000000,0.916667,1.833333,1.833333,1.571429,7.333333,7.333333,8.000000,6.000000
2,Ananya Naskar,4,A,3.388889,4.100000,3.388889,3.750000,3.642857,3.416667,3.388889,3.388889,6.857143,5.555556,5.555556,7.200000
3,Deepsikha Naskar,9,A,1.388889,1.750000,1.388889,0.625000,1.071429,1.250000,1.388889,1.562500,7.428571,8.000000,8.000000,7.500000
4,Aditi Kuilya,2,A,1.222222,1.833333,1.222222,0.000000,0.916667,1.833333,1.222222,0.785714,8.666667,8.222222,9.000000,6.000000
5,Rohan Kundu,17,A,2.777778,2.500000,2.777778,1.750000,2.083333,3.428571,2.666667,2.357143,6.333333,6.444444,7.000000,4.666667
6,Soumyadeep Purkait,27,A,2.500000,3.400000,2.500000,2.000000,2.428571,3.214286,2.500000,2.125000,7.750000,7.111111,7.750000,6.285714
7,Shiven Singh Rajput,23,A,2.388889,2.500000,2.388889,1.250000,2.666667,1.500000,2.388889,3.000000,6.500000,6.888889,6.375000,8.000000
8,Harshavardhan Chakraborty,10,A,4.277778,3.166667,4.277778,4.333333,5.083333,3.583333,4.277778,4.083333,5.500000,4.555556,4.000000,7.400000
9,Simran Ghosh,25,A,3.166667,2.437500,3.166667,2.000000,2.437500,3.166667,3.166667,3.166667,6.444444,6.444444,6.444444,6.444444
10,Sunita Biswal,31,A,3.444444,2.700000,3.444444,2.000000,3.714286,2.250000,3.444444,3.444444,6.571429,5.333333,5.333333,7.333333
11,Bishwarup Das,6,A,1.277778,1.000000,1.277778,1.200000,0.857143,1.437500,1.277778,1.642857,7.666667,8.444444,8.250000,8.000000
12,Subham Bairagi,29,A,2.111111,2.000000,2.111111,2.000000,1.428571,1.666667,2.111111,2.111111,7.777778,7.777778,7.777778,8.333333

In [33]:
bright_skill = df.iloc[:, 3:11].sum(axis = 1)
dark_skill=df.iloc[:,11:15].sum(axis=1)
df["Bright_traits"]= bright_skill
df["Dark_trait"]=dark_skill
df["Bright_traits_avg"]= bright_skill/7
df["Dark_trait_avg"]=dark_skill/4
Bright_traits_cat = []
Dark_trait_cat = []
for ind in df.index:
  if df['Bright_traits_avg'][ind] < 2:
    Bright_traits_cat.append('A')
  elif df['Bright_traits_avg'][ind] < 4:
    Bright_traits_cat.append('B')
  elif df['Bright_traits_avg'][ind] < 7:
    Bright_traits_cat.append('C')
  elif df['Bright_traits_avg'][ind] <= 10:
    Bright_traits_cat.append('D')

  if df['Dark_trait_avg'][ind] < 2:
    Dark_trait_cat.append('A')
  elif df['Dark_trait_avg'][ind] < 4:
    Dark_trait_cat.append('B')
  elif df['Dark_trait_avg'][ind] < 7:
    Dark_trait_cat.append('C')
  elif df['Dark_trait_avg'][ind] <= 10:
    Dark_trait_cat.append('D')

df["Dark_trait_cat"] = Dark_trait_cat
df["Bright_traits_cat"] = Bright_traits_cat
df

13

,NAME,ROLL,SECTION,LOGIC,CONCENTRATION,FOCUS,COGNITIVE SKILL,RETENTION POWER,HARD WORKING,STUDY HABIT,...,SILLY MISTAKES,KNOWLEDGE GAP,IMPULSIVE,LEARNING GAP,Bright_traits,Dark_trait,Bright_traits_avg,Dark_trait_avg,Dark_trait_cat,Bright_traits_cat
0,Srishti Shahi,28,A,1.611111,2.666667,1.611111,1.000000,1.500000,2.333333,1.611111,...,8.571429,8.000000,8.750000,6.400000,13.547619,31.721429,1.935374,7.930357,D,A
1,DEBMALYA LAHIRI,8,A,1.833333,1.833333,1.833333,0.000000,0.916667,1.833333,1.833333,...,7.333333,7.333333,8.000000,6.000000,11.654762,28.666667,1.664966,7.166667,D,A
2,Ananya Naskar,4,A,3.388889,4.100000,3.388889,3.750000,3.642857,3.416667,3.388889,...,6.857143,5.555556,5.555556,7.200000,28.465079,25.168254,4.066440,6.292063,C,C
3,Deepsikha Naskar,9,A,1.388889,1.750000,1.388889,0.625000,1.071429,1.250000,1.388889,...,7.428571,8.000000,8.000000,7.500000,10.425595,30.928571,1.489371,7.732143,D,A
4,Aditi Kuilya,2,A,1.222222,1.833333,1.222222,0.000000,0.916667,1.833333,1.222222,...,8.666667,8.222222,9.000000,6.000000,9.035714,31.888889,1.290816,7.972222,D,A
5,Rohan Kundu,17,A,2.777778,2.500000,2.777778,1.750000,2.083333,3.428571,2.666667,...,6.333333,6.444444,7.000000,4.666667,20.341270,24.444444,2.905896,6.111111,C,B
6,Soumyadeep Purkait,27,A,2.500000,3.400000,2.500000,2.000000,2.428571,3.214286,2.500000,...,7.750000,7.111111,7.750000,6.285714,20.667857,28.896825,2.952551,7.224206,D,B
7,Shiven Singh Rajput,23,A,2.388889,2.500000,2.388889,1.250000,2.666667,1.500000,2.388889,...,6.500000,6.888889,6.375000,8.000000,18.083333,27.763889,2.583333,6.940972,C,B
8,Harshavardhan Chakraborty,10,A,4.277778,3.166667,4.277778,4.333333,5.083333,3.583333,4.277778,...,5.500000,4.555556,4.000000,7.400000,33.083333,21.455556,4.726190,5.363889,C,C
9,Simran Ghosh,25,A,3.166667,2.437500,3.166667,2.000000,2.437500,3.166667,3.166667,...,6.444444,6.444444,6.444444,6.444444,22.708333,25.777778,3.244048,6.444444,C,B
10,Sunita Biswal,31,A,3.444444,2.700000,3.444444,2.000000,3.714286,2.250000,3.444444,...,6.571429,5.333333,5.333333,7.333333,24.442063,24.571429,3.491723,6.142857,C,B
11,Bishwarup Das,6,A,1.277778,1.000000,1.277778,1.200000,0.857143,1.437500,1.277778,...,7.666667,8.444444,8.250000,8.000000,9.970833,32.361111,1.424405,8.090278,D,A
12,Subham Bairagi,29,A,2.111111,2.000000,2.111111,2.000000,1.428571,1.666667,2.111111,...,7.777778,7.777778,7.777778,8.333333,15.539683,31.666667,2.219955,7.916667,D,B